@layout('main')

@section('content')
@include('inc.top-image')
<section class="col-12 mt-5">
    <div class="mb-4">
        <p class="h2 text-center font-weight-bold">TESTIMONIALS</p>
        <span class="border-top-yellow offset-6"></span>
    </div>
    
</section>
@include('inc.partners')
@include('inc.footer')
@endsection