<section class="col-12 page-title01">
    <div class="d-block mt-5">
        <p class="h3 text-white mt-5 pt-5 pt-lg-0 text-center font-weight-bold">The Fastest - Trans Cargo Service Solutions</p>
    </div>
</section>