* {
  overflow-x: hidden !important;
}
.carousel-image-height {
  height: 100vh !important;
}
.inner-carousel-image {
  background: url("https://transcargoservice.com/img/slider/slider-line.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 370px;
  margin-top: 370px;
  height: 240px;
  width: 50vw;
}
.inner-carousel-image-one {
  background: url("https://transcargoservice.com/img/slider/slider-line.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -40px;
  margin-bottom: -200px;
  height: 450px;
  width: 80vw;
}
.bg-white {
  background: white !important;
  padding: 15px 20px;
  border-bottom: 1.4px outset rgb(250, 250, 250);
  box-shadow: 0 0.2px;
}
.caption-text {
  position: relative;
  bottom: 50px;
  left: -330px;
}

.caption-text2 {
  position: relative;
  bottom: 150px;
}
.caption-center {
  position: relative;
  bottom: 35vh;
  font-size: 75px;
}
.border-top-yellow {
  display: block;
  border-top: 4px solid orange;
  width: 3em;
}
a.hover-blue:hover {
  color: rgb(66, 162, 223);
}
a.hover-blue {
  color: gray;
  font-size: 14px;
}
.text-gray {
  color: gray;
}
.parallax02 {
  background-image: url("/images/parallax/parallax02.jpg");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax01 {
  background-image: url("/images/parallax/parallax01.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.partners {
  background: url("/images/partners/partners.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25em;
  max-height: 27em;
  width: 40em;
  max-width: 42em;
}
.place-near-middle {
  position: relative;
  top: 3.4em;
}
.place-near-bottom {
  position: relative;
  top: 7em;
}
.footer {
  background-color: #25272e;
  opacity: 0.6;
}
footer .middle-border {
  position: relative;
  top: 4.1em;
}
footer .border-bottom {
  border-color: #384653 !important;
}
footer .footer-text {
  margin-top: 5.5em;
  margin-left: 5em;
}
.scroll-top {
  position: fixed;
  background: url("/images/to-top@2x.png");
  background-color: #252525;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999px;
  height: 50px;
  width: 50px;
  bottom: 1em;
  left: 90%;
}

@media screen and (max-width: 600px) {
  .carousel-image-height {
    height: 75vh !important;
  }
  .inner-carousel-image-one {
    margin-left: 10px;
    margin-bottom: -180px;
    height: 280px;
    width: 70vw;
  }

  .inner-carousel-image {
    margin-left: 30px;
    margin-top: 240px;
    height: 140px;
    width: 70vw;
  }

  .caption-text {
    bottom: -10px;
    left: -16px;
    font-size: 18px;
  }

  .caption-text2 {
    bottom: 18px;
    font-size: 18px;
  }

  .caption-center {
    position: relative;
    bottom: 5em;
    font-size: 18px;
  }
  .responsive-image {
    width: 85vw;
    max-width: 90vw;
  }
  .text-small {
    font-size: 28px;
  }
  .text-small2 {
    font-size: 20px;
  }
  .partners {
    height: 35vh;
    max-height: 40vh;
    width: 46vw;
    max-width: 50vw;
  }
  .parallax01 {
    height: 340px;
  }

.place-near-middle {
  top: 1.2em;
}
.place-near-bottom {
  top: 1.2em;
}

footer .middle-border {
  top: 3em;
}

footer .footer-text {
  margin-top: 4em;
  margin-left: 1em;
}
  .scroll-top {
    height: 40px;
    width: 40px;
    bottom: 1em;
    left: 82%;
  }
}


